* 
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: "Roboto Slab", serif;
}

/* Part 1A */
/* top only covers 1A and 1B colors */
.Top
{
    background-color: #1f2937;
    color: white;
}

/* header contains Logo and 3 links */
.Header
{
    display: flex;
    /* get logo away from links (space apart) */
    justify-content: space-between;
    /* logo and links stuck at corners, get space to push from corner */
    margin-left: 100px;
    margin-right: 100px;

}

ul {
    display: flex;
    /* you need list style none, somehow unordered sitll has bullets */
    list-style: none; 
    gap: 20px
}

/* Part 1B */

.Main
/* Main has MainLeft and MainRight (text left, image to right) */
{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.LeftMain
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.RightMain
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* This website is awesome */
.siteTitle {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

/* This website has some subtext ... */
.siteSubtitle {
    font-size: 18px;
    color: #E5E7EB;
}

button
{
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 25px;
    padding: 5px 20px;
}

img
{
    max-height: 200px;
    width: auto;
    margin-left: 40px;
}

/* Part 2 */

.Part2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RandomInfo
{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.boxLayout
{
    /* display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin: 30px;
    gap: 20px */
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 30px;
}

.blueBox
{
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 5px;

}

/* Part 3 */

.Part3
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.QuoteBox
{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.Quote
{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;

}

.QuoteAuthor
{
    font-size: 26px;
    font-style: bold;
    /* text-align: right; */
    text-align: end;
    
}

/* Part 4 */